.blue {
    background-color: rgb(38, 117, 117);
    height: 200px;
}

.redcardSelected {
    width: 900px;
    height: 300px;
    background-color: rgb(104, 18, 15);
}

.bluecardSelected {
    width: 900px;
    height: 300px;
    background-color: rgb(38, 117, 117);
}

.greencardSelected {
    width: 900px;
    height: 300px;
    background-color: rgb(22, 94, 22);
}

.blackcardSelected {
    width: 900px;
    height: 300px;
    background-color: rgb(14, 13, 13);
}

.green {
    background-color: rgb(22, 94, 22);
    height: 200px;
}

.red {
    background-color: rgb(104, 18, 15);
    height: 200px;
}

.black {
    background-color: rgb(14, 13, 13);
    height: 200px;
}

.cardName,
.cardPrice,
.cardSpeed,
.cardText {
    color: #fff;
}